* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body, html {
    height: 100%;
}

body {
    background: url("./img/sean-hwang.jpg") repeat center center;background-size: cover;
}

button {
    border: none;
    border-radius: 0.5em;
    background-color: azure;
    color: black;
    font-size:medium;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 2em rgb(202, 86, 86);
    background-color: rgba(202, 86, 86, 0.522);
    color: azure;
    cursor: pointer;
}

button:active {
    background-color: rgb(202, 86, 86);
}

.searchContainer {
    border: none;
    width: 100%;
    max-width: 50em;
    display: flex;
    gap: 1em;
    margin: 1em auto;
    padding: 0.5em;
}

.searchContainer input {
    border: none;
    padding: 1em;
    border-radius: 0.5em;
}

.searchContainer input:hover {
    box-shadow: 0 0 2em rgb(202, 86, 86);
}

#searchBox {
    flex-grow: 3;
}

.searchContainer ::placeholder {
    color: rgba(202, 86, 86, 0.447);
}

#submitBTN {
    flex-grow: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.gifContainer {
    background-color: rgb(202, 86, 86);
    display: flex;
    padding: 0.3em;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5em;
    border-radius: 0.5em;
}

.gifContainer img {
    width: 100%;
    height: auto;
}

.loadingWheel {
    display: none;
    height: 15em;
    width: 15em;
    border: 3em solid azure;
    border-radius: 50%;
    border-top-color: rgb(202, 86, 86);
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: spin 2s infinite;
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.sorry {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    font-size: 2em;
    font-weight: 600;
    display: none;
    text-align: center;
}

.sorry img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.sorryMessage {
    margin-top: 1em;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

}